.navbar{
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

  a{
    text-decoration: none;
    color: black;
  }

  li{
    list-style-type: none;
    display: inline;
  }


  #outer
  {
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #inner
  {
    height: 100px;
    width: 100px;
    background-color: rgb(51, 30, 187);
  }